

h1{
	font-size: 4em;
	width: 385px;
	margin-right: 10px;
	margin-bottom: 0;
	margin:0;
	float: right;

}
h3{
	font-size: 25px;
	margin-right: 10px;
	margin-bottom: 0;
	margin:0;
	float: right;
}
.logo{
	width:400px;
	text-align: left;
}