*,
*:before,
*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.responsive-img{
	max-width: 100%;
	height: auto;

}
.header-logo{
margin-top: 10px;
margin-left: 30px;

}

.text-item{
	font-size: 5vw;
}
.text-hdr{
	font-size: 7vw;
}
 .header{
	 text-align: center;
	 margin-bottom: 30px;
 }

 .content-hdr{
 	text-align: center;
 }
 .featured-work{
		margin-top: 30px;

 }

 .featured{
 	text-align: center;
 }

@media screen and (min-width: 650px) {

.text-item{
	font-size: 3vw;
}
.text-hdr{
	font-size: 4vw;
}

.header-text{
	margin:30px 0px 10px 10px;
}
.hero-img{
	margin-top: 10px;
}

}
@media screen and (min-width: 750px) {
.header{
	justify-content: space-between;
	margin:20px 10px 30px;
	text-align:center;
}
.text-item{
	font-size: 2vw;
}
.text-hdr{
	font-size: 3vw;
}
.featured,
.header{
 	display:flex;
 	max-width: 1920px;

}
.header-image{
	width: 650%
}
 .featured-item{
 	margin-right: 10px;
 	margin-bottom: 10px;
 	margin-top:10px;
 	margin-left: 10px;
 }
 .featured{
margin:30px auto 0;
 }
}
@media screen and (min-width: 1280px) {
.header-text{
	margin:30px 0 10px;
}
.hero-img{
	margin-top: 10px;
}

}

